/* all pages */
  /* apply to all */
  * {
    font-family: 'Nunito', sans-serif;
  }
  /* end apply to all */

  /* apply to body/html */
  body,
  html {
    height: 100%;
    margin: 0;
    color: #fff18b;
  }
  /* end apply to body/html */

  /* apply to navbar */
  nav {
    background-color: #0d3b02;
    border-bottom: 3px solid #a0e6fb;
  }

  .navbar-brand {
    font-family: 'Libre Baskerville', serif;
    color: #fff18b !important
  }

  .navbar-nav li a:hover {
    color: #fff18b !important
  }

  .navbar-nav li.active a {
    color: #fff18b !important
  }

  .navbar-nav span {
    color: #fff18b !important
  }

  .dropdown-item:hover {
    background: #0d3b02
  }
  /* end apply to navbar */

  /* apply to footer */
  footer {
    background: #0d3b02;
    color: #fff18b;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  /* end apply to footer */

  /* apply to "h" tags */
  h1,
  h2,
  h4,
  h6 {
    font-family: 'Libre Baskerville', serif;
  }
  /* end apply to "h" tags */

  /* apply to text color */
  .colorPrimary {
    color: #0d3b02
  }
  /* end apply to text color */

  /* apply to buttons */
  .btn {
    background: #a0e6fb;
    border: 1px solid #a0e6fb;
    color: #0d3b02
  }

  .btn:hover,
  .btn:focus,
  .btn:active {
    background: #0d3b02;
    border: 1px solid #0d3b02;
    color: #a0e6fb
  }
  /* end apply to buttons */

  /* apply to jumbotrons */
  .jumbotron {
    border-bottom: 3px solid #a0e6fb;
    margin: 0;
  }
  /* end apply to jumbotrons */

  /* apply to top border */
  .topBorder {
    border-top: 3px solid #a0e6fb;
  }

  a, a:hover, a:active, a:focus {
    color: #fff18b
  }
  /* end apply to top border */

  /* apply to a tags */
  /* a {
    color: #a0e6fb
  } */
  /* end apply to a tags */
/* end all pages */


/* home page */
/* apply to parallax */
  .pimg1 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/branches-countryside-environment-1006121.jpg');
    min-height: 100%;

    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: fixed;
    display: flex;
    align-items: center;
  }

  .ptext {
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .ptext .border {
    background-color: #0d3b02;
    opacity: .9;
    color: #fff18b;
    padding: 3%;
  }

  .gm1mapContainer {
    margin: 0 auto;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0d3b02;
  }

  .gradient {
    background-image: linear-gradient(#a0e6fb, #fff18b);
  }

  .gradientLinear {
    background-image: linear-gradient(to right,#a0e6fb, #fff18b);
  }
/* end apply to parallax */
/* end home page */

/* about page */
.marvPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* end about page */

/* service page */
.btn-link{
  background: none;
  border: none;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  background:none;
  border: none;
  color: #0d3b02;
}
/* end service page */


/* contact page */
/* appy to form */
  /* .pimg2 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/contre-jour-leaves-lens-flare-34066.jpg');
    min-height: 100%;

    background-attachment: fixed;
    display: flex;
    align-items: center;
  }  */

  form {
    color: #0d3b02;
    /* background-color: rgba(112, 14, 14, 0.5);
    padding: 1%;
    padding-bottom: 10%; */
  }

  .form-control {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #0d3b02;
  }

  .form-group input {
    color: #0d3b02;
  }

  .form-group ::placeholder {
    color: #0d3b02;
  }
/* end apply to form */
/* end contact page */

/* leave at bottom for now, maybe move under parallax */
/* apply to phones */
  @media(max-width:568px) {
    .pimg1 {
      background-attachment: scroll;
    }
  }
/* end apply to phones */